.app {
  background-color: #e7e7e7;
}

.app-content {
  display: flex;
  overflow: auto;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: x-large;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}

.customer-list {
  width: 30%;
  background-color: rgb(216, 216, 216);
  overflow-y: scroll;
  height: 100vh;
}

.customer-card {
  padding: 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid gray;
}

.customer-card.selected {
  background-color: #c3c3c3;
  border-right: 0.25rem solid black;
}

.customer-details {
  width: 70%;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: 100vh;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.625rem;
}

.photo-grid-img {
  width: 21rem;
  height: 21rem;
  border-radius: 1rem;
}
